<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="org.jooq" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <Logger name="org.jooq.tools.LoggerListener" level="debug">
        <AppenderRef ref="CONSOLE"/>
    </Logger>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
